{% extends "core/base.html" %}
{% block title %}Restablecer Contraseña{% endblock %}

{% block content %}
<div class="card mx-auto" style="max-width: 500px;">
    <div class="card-header"><h3>¿Olvidaste tu contraseña?</h3></div>
    <div class="card-body">
        <p>Introduce tu dirección de correo electrónico a continuación y te enviaremos instrucciones para establecer una nueva contraseña.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary w-100">Restablecer Contraseña</button>
        </form>
    </div>
</div>
{% endblock %}